/* Don adding this main section */
.main-section {
  position: relative;
}

.image-panel {
  height: 80vh;
  position: relative;
}

.section-title {
  color: #d17316;
  font-size: 2em;
  font-weight: bold;
  left: 3%;
  position: fixed;
  text-shadow: 1px 1px black;
  top: 120px;
}
/* 
.image-panel div {
  position: absolute;
  top: 160;
  left: 0;
} */

/* .image-panel div {
  position: fixed;
  top: 100;
  left: 10;
} */


.image-panel-outer-div {
  position: fixed;
  top: 100;
  left: 10;
}

/*.image-panel div img, div.full-image img {
  border: thin solid #615c3d;
  max-width: 100%;
  height: auto;
  margin-bottom: 1.6em;
}
*/
.chapter-title /* cf: header.basic-page styles in index.css line 165 */ {
  background-color: #B25900;
  margin-top: 24px;
  padding: .5em 3%;
  text-align: center;
}

.chapter-title h1 {
  font-size: 1.75em;
  margin: 0;
}

/*.image-panel div img, div.full-image img {
  border: thin solid #615c3d;
  max-width: 100%;
  height: auto;
  margin-bottom: 1.6em;
}
*/
.caption-panel {
  position: relative;
  z-index: 10;
  margin: 1em 1em 1em 50%;
  width: 100%;
}

.caption-panel div {
  background-color: #353526;
  border: 1px solid #e4e0c7;
  opacity: 0.75;
  margin-bottom: 90vh;
  padding: 1em;
  margin-top: -10em;
  width: 40%;
}

.caption-panel div.narrower {
  width: 30%;
}

.caption-panel div p.gallery-caption {
  width: 25%;
  font-size: 0.75em;
  float: left;
}

.caption-panel div p.gallery-quote {
  font-size: 1em;
  padding-left: 1em;
}

.caption-panel div p.gallery-text {
  font-size: 1em;
  font-style: normal;
}

.caption-panel div h4 {
  font-weight: bold;
}

a.caption-link {
  color: #B25900;
  text-decoration: underline;
}

#thing10 p.gallery-text {
  height: 10em;
}
