<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Web site created using create-react-app">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="stylesheet" href="https://use.typekit.net/lfr0kyk.css">
    <title>Picturing Urban Renewal</title>
    <link href="../../../index.css" rel="stylesheet">
    <link href="../../common/MainNav.css" rel="stylesheet">
    <link href="StuyStroll-model.css" rel="stylesheet">
</head>

<body>
  <nav class="main-menu">
      <ul>
          <li><a href="/">Home</a></li>
          <li class=""><a href="/cities">4 Cities / 4 Stories</a></li>
          <li class=""><a href="/people">Personal Stories</a></li>
          <li class=""><a href="http://app.picturingurbanrenewal.org/visuals">Visual Record</a></li>
          <li class=""><a href="/places">Places</a></li>
          <li class=""><a href="/themes">Themes &amp; Essays</a></li>
      </ul>
  </nav>

  <header class="basic-page stroll">
     <h1>Stroll By: 1st Avenue and 14th Street</h1>
  </header>

  <div id="stroll-wrapper">

		<section id="view-frame">
      <img src="http://dev.picturingurbanrenewal.org/prod-assets/places/stuy-stroll/fourteenth-st.jpg"/ >
    </section>

    <div id="caption-band">
      <div>
        <h4>Community Bulletin</h4>
        <p>more..</p>
      </div>
    </div><!-- /caption-band -->
                               
  </div><!-- /stroll-wrapper -->

</body>

</html>