<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#000000">
    <meta name="description" content="Web site created using create-react-app">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="stylesheet" href="https://use.typekit.net/lfr0kyk.css">
    <link rel="manifest" href="/manifest.json">
    <title>Picturing Urban Renewal</title>
    <link href="../../../index.css" rel="stylesheet">
    <link href="../../common/MainNav.css" rel="stylesheet">
    <link href="StuyStroll-model.css" rel="stylesheet">
</head>

<body><noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root">
        <div>
            <nav class="main-menu">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li class=""><a href="/cities">4 Cities / 4 Stories</a></li>
                    <li class=""><a href="/people">Personal Stories</a></li>
                    <li class=""><a href="http://app.picturingurbanrenewal.org/visuals">Visual Record</a></li>
                    <li class=""><a href="/places">Places</a></li>
                    <li class=""><a href="/themes">Themes &amp; Essays</a></li>
                </ul>
            </nav>
            <div class="">
                <header class="basic-page">
                    <h1>Stroll By: 1st Avenue and 14th Street</h1>
                </header>
                <div style="opacity: 1; transform: translateX(0%) translateZ(0px);">
                    <div id="stroll-wrapper">
                      <section id="view-frame">
                            
                            <svg version="1.1" 
                              xmlns="http://www.w3.org/2000/svg" 
                              x="0px" y="0px" viewBox="0 0 6006 1479" 
                              preserveAspectRatio="xMidYMid meet" 
                              class="svg-content">
                              <g id="photo">
                                <image width="6006" height="1500" href="http://dev.picturingurbanrenewal.org/prod-assets/places/stuy-stroll/fourteenth-st.jpg" transform="translate(0 0)"></image>
                              </g>
                              <g id="turn-buttons"><a href="/">
                                <polyline class="st9" 
                                points="85.2,191 26.8,239 85.2,289  ">
                              </polyline>
                              <text transform="translate(85.1718 245)" 
                              class="st10 st2 st11">TURN THE CORNER</text>
                              </a></g>
                            </svg>
                        </section>

	                        <div id="caption-band">
	                            <div class="cap" style="left: 2%;">
	                                <h4>Community Bulletin</h4>
	                                <p>more..</p>
	                            </div>
	                            <div class="cap" style="left: 7%;">
	                                <h4>Peter Stuyvesant Landowners' Group</h4>
	                                <p>more..</p>
	                            </div>
	                            <div class="cap" style="left: 15%;">
	                                <h4>Edelstein Brothers</h4>
	                                <p>more..</p>
	                            </div>
	                            <div class="cap" style="left: 21%;">
	                                <h4>Long-term Tenants</h4>
	                                <p>more..</p>
	                            </div>
	                            <div class="cap" style="left: 28%;">
	                                <h4>Deutsches Wurst Geschaft</h4>
	                                <p>more..</p>
	                            </div>
	                            <div class="cap" style="left: 34%;">
	                                <h4>There's a Customer Downstairs</h4>
	                                <p>more..</p>
	                            </div>
	                            <div class="cap" style="left: 40%;">
	                                <h4>First and Second Generation</h4>
	                                <p>more..</p>
	                            </div>
	                            <div class="cap" style="left: 45%;">
	                                <h4>Lone Star (of David)</h4>
	                                <p>more..</p>
	                            </div>
	                            <div class="cap" style="left: 50%;">
	                                <h4>Cluttered Fire Escape</h4>
	                                <p>more..</p>
	                            </div>
	                            <div class="cap" style="left: 57%;">
	                                <h4>Essential Service</h4>
	                                <p>more..</p>
	                            </div>
	                            <div class="cap" style="left: 61%;">
	                                <h4>Kiddyland</h4>
	                                <p>more..</p>
	                            </div>
	                            <div class="cap" style="left: 67%;">
	                                <h4>Above and Below the Street</h4>
	                                <p>more..</p>
	                            </div>
	                            <div class="cap" style="left: 73%;">
	                                <h4>5-10-25¢</h4>
	                                <p>more..</p>
	                            </div>
	                            <div class="cap" style="left: 77%;">
	                                <h4>Beginning of the Baby Boom</h4>
	                                <p>more..</p>
	                            </div>
	                        </div>   
	                                               
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>