
/*  main layout elements  */
#stroll-wrapper {
  height: calc(100vh - 100px);
  overflow-x: scroll;
  position: absolute;
  width: 100%;
}

.svg-content {
  height: calc(100% - 80px);
  width: auto;
}

#caption-band {
  font-size: .75em;
  height: 80px;
  margin-top: -10px;
  padding: .1em;
  position: relative;
}

@media only screen and (max-width: 1000px) {
  #caption-band {
    font-size: 0.65em;
  }
}

/* intro page  */
div.intro-page {
  position: relative;
}

.intro-panel {
  background-color: rgba(53, 53, 38, 0.8);
  border: 1px solid #686959;
  font-size: .85em;
  left:  20%;
  padding: 1.5em;
  position: absolute;
  top:  10%;
  width:  60%;
}

/*caption titles*/
.cap {
  position: absolute;
  width: 6%;
}

.cap h4, .cap p {
  margin: 0;
}

/*  turn corner buttons  */
.turn-text {
  fill: #FFA300;
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.arrows {
  opacity: 0.6;
  fill: none;
  stroke: #FFA300;
  stroke-width: 19;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

/*  highlighting  */
.low-spot {
  fill: #666666;
  opacity: 0;
}

.hi-spot {
  fill: #FFAC06;
  stroke-width: 2;
  stroke-miterlimit: 10;
  opacity: .25;
  stroke: #FFAC06;
  stroke-opacity: .9;
}

.hi-text {
  color: #FFAC06;
}

/* More pops - Stroll version of slimpop*/
.stroll-more-pop {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.75);
  height:  350px;
  margin-top: -450px;
  margin-left: 5%;
  overflow-y: scroll;
  position: absolute;
  width: 15%;
  z-index: 99;
}

#stroll-pop-wrapper {
  background-color: #EDEEE4;  
  border: 1px solid #BDBEA7;
  color: #353626;
  padding: 1em;
  position: relative;
}

#stroll-pop-wrapper p.close {
  color: #FFAC06;
  font-size: .75em;
  float: right;
  letter-spacing: .05em;
  max-width: 10%;
}

#stroll-pop-wrapper header {
  font-size: 1.25em;
  max-width: 90%;
}

#stroll-pop-wrapper header h1 {
  margin: 0;
}

#stroll-pop-wrapper header p {
  margin: 0.4em auto;
}
