/* Timeline Styles */
.timeline-page {

}

.thru-lines {
	font-size: .85em;
}

.thru-lines ul li {
	display: inline-block;
	padding-right: 2em;
}

.timeline-content {

}

/* from css tricks https://css-tricks.com/making-tables-with-sticky-header-and-footers-got-a-bit-easier/ */
table {
  margin: 0;
  border: none;
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed;
}

table tr {
	vertical-align: top;
}

table td,
table th {
  border: 1px solid #686959;
  padding: 0.5rem 1rem;
/*	width: 120px;
	overflow: hidden;
  overflow-wrap: break-word;*/
}

table thead {
  position: sticky;
  top: 0;
  z-index: 1;
}

table thead th {
  padding: 0px;
	font-size: 3em;
	/*height: 60px;*/
	opacity: 0.3;
}
	
tbody tr {
/*	max-height: 80px;
  overflow: hidden;*/
}

table td {
  font-size: 0.75em;
  font-weight: normal;
  padding: 4px 5px;
  text-align: left;
}

table tbody th {
  font-size: 0.85em;
  font-weight: normal;
  letter-spacing: 0.05em;
  text-align: left;
  text-transform: uppercase;
/*  width: 60px;*/
  position: relative;
}

table tbody td, table tbody th {

}

table thead th:first-child {
  background-color: #353526;
  position: sticky;
  left: 0;
/*  width: 60px;*/
  z-index: 2;
}

table tbody th {
  background-color: #353526;
  left: 0;
  position: sticky;
  writing-mode: vertical-rl;
  /*-ms-transform: rotate(270deg); /* IE 9
  transform: rotate(270deg);*/
  z-index: 1;
}

tr.row-nyc td {
	background-color: #394718;
}

tr.row-newburgh td {
	background-color: #1f2452;
}

tr.row-kingston td {
	background-color: #544213;
}

tr.row-albany td {
	background-color: #4d0e16;
}

tr.row-nystate {
}

tr.row-us {
}
