/*nav.main-menu {
  text-align: center;
  /* position: fixed;
  top: 0;
  left: 0; 
}

nav.main-menu li {
  border-right: thin solid #e4e0c7;
  display: inline;
  font-size: 0.75em;
  font-weight: 400;
  letter-spacing: .15em;
  padding: 0 2em;
  text-transform: uppercase;
}

nav.main-menu li.last-menu-item {
  border-right: none;
}

nav.main-menu li.selected a {
  color: #B25900;
}
*/

nav.main-menu {
  background-color: #353526;
  height: 24px;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 99;
}

nav.main-menu ul {
  margin:  -.25em 0 0 0;
}

nav.main-menu li {
  border-right: thin solid #e4e0c7;
  display: inline;
  font-size: 0.75em;
  font-weight: 400;
  letter-spacing: .15em;
  padding: 0 2em;
  text-transform: uppercase;
}

@media only screen and (max-width: 1000px) {
  nav.main-menu li {
    font-size: 0.5em;
  }
}

nav.main-menu li.last-menu-item {
  border-right: none;
}

nav.main-menu li.selected a {
  color: #B25900;
}