
.filters, .images-menu {
  padding: 0.5em 3%;
  font-size: .75em;
}

.filters {
  display:  grid;
  grid-gap: 15px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.filter-set {
  list-style-type: none;
  padding-left: 0;
}

.filters div h4 {
  font-size: 1em;
  font-weight: 400;
  letter-spacing: .15em;
  margin: 0;
  text-transform: uppercase;
}

/* Added by guess whom */
.don-button {
  appearance: none;
  background-color: #686959;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "itc-officina-sans-pro", sans-serif;
  font-size: 0.85em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.4em 0.6em;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
.don-button:hover, button:focus {
  background-color: shade(#e4e0c7, 20%);
  color: #fff;
}
.don-button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.don-button:disabled:hover {
  background-color: #e4e0c7;
}
