/* These styles are straight from Treat Map */
.slide-show {
  /*See also generic slimpop-wrapper in index.css*/ 
  /*From 'pop-entry' in Vue, Treat*/
  height: 80%;
  margin: 3% auto;
  padding-top: 1em;
  width: 70%;
}

header {
  max-width: 80%;
}

header p {
  font-size: .75em;
  margin:  .4em auto;
}

.slide-show p {
  font-size: .8em;
}

p.close {
  font-size: .7em;
  letter-spacing: .05em;
  max-width: 20%;
  float: right;
}

.close a {
  color: #BE6A07;
}

.close a:hover {
  color: #F88906;
}
